<script src="main.js"></script>
<script src="//unpkg.com/@fullcalendar/core@4.1.0/locales/fr.js"></script>
<script src="//unpkg.com/@fullcalendar/core@4.1.0/locales-all.min.js"></script>
<script src="//unpkg.com/@fullcalendar/core@4.1.0/main.min.js"></script>
<link href="//unpkg.com/@fullcalendar/core@4.1.0/main.min.css" rel="stylesheet">
<link href="//unpkg.com/@fullcalendar/daygrid/main.min.css">
<link href="//unpkg.com/@fullcalendar/timegrid/main.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<script src="//unpkg.com/@fullcalendar/interaction"></script>
<script src="//unpkg.com/@fullcalendar/daygrid"></script>
<script src="//unpkg.com/@fullcalendar/timegrid"></script>


<div id='page'>
  <nav id='tabs'>
    <section id='button-calendar-box'>Range selection</section>
    <section id='button-maps'>Map</section>
    <div id='status-info'></div>
    <section id='button-settings'>Settings</section>
  </nav>

  <div id="content">
    <section id="settings">
      <div>
	<label>Login :</label>
	<input onchange='update("load-auth-from-form")' class='l'>
      </div>
      <div>
	<label>Password :</label>
	<input onchange='update("load-auth-from-form")' class='l' type='password'>
      </div>
      <div>
	<button onclick='update("localstorage-save-auth")'>Save in local storage</button>
      </div>
    </section>

    <section id="calendar-box">
      <div id="calendar"></div>
    </section>

    <section id="maps">
      <div class="map-holder" style="color: #f9ca86;" data-title="Niveau jaune">
	<object onload="whitify()" width="800px" data="svgs/jaune.svg" type="image/svg+xml"></object>
      </div>
      <div class="map-holder" style="color: #3d6eaa;" data-title="Niveau bleu">
	<object onload="whitify()" width="800px" data="svgs/bleu.svg" type="image/svg+xml"></object>
      </div>
      <div class="map-holder" style="color: #f19475;" data-title="Niveau orange">
	<object onload="whitify()" width="800px" data="svgs/orange.svg" type="image/svg+xml"></object>
      </div>
      <div class="map-holder" style="color: #92a391;" data-title="Niveau vert">
	<object onload="whitify()" width="800px" data="svgs/vert.svg" type="image/svg+xml"></object>
      </div>
      <div class="map-holder" style="color: #ed6160;" data-title="Niveau rouge">
	<object onload="whitify()" width="800px" data="svgs/rouge.svg" type="image/svg+xml"></object>
      </div>
    </section>
  </div>
</div>
