html, body
  font-family "Open Sans"
  margin 0
  padding 0
#page
  display grid
  grid-template-columns auto
  grid-template-rows 40px auto
  height 100%
  #content
    overflow auto
    padding 10px
  > nav
    padding 4px
    background #00b894
    display grid
    // grid-template-rows auto
    grid-template-columns 150px 10px 60px 1fr 80px
    grid-template-areas 'cal . map status set'
    > section
      position relative
      top 1px
      margin-left 5px
      padding 6px
      text-align center
      border 1px solid alpha(white, 50%)
      background alpha(white, 40%)
      // border-radius 2px
      border-bottom 0px solid transparent
      display inline-block
      &.active
        background alpha(white, 100%)
      // &:hover
        // background alpha(white, 60%)
      &#button-calendar-box
        grid-area cal
      &#button-maps
        grid-area map
      &#button-settings
        grid-area set
      // &:last-child

&#status-info
  grid-area status
  text-algin center
  color gray

.hide
  overflow hidden
  width 0
  height 0
  display block

.map-holder
  position relative
  overflow hidden
  height 436px
  object
    position relative
    top -100px
  &:after
    content attr(data-title)
    color attr(data-color)
    position absolute
    left 30px
    font-size 180%
    top 0
  
