html,
body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}
#page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px auto;
  height: 100%;
}
#page #content {
  overflow: auto;
  padding: 10px;
}
#page > nav {
  padding: 4px;
  background: #00b894;
  display: grid;
  grid-template-columns: 150px 10px 60px 1fr 80px;
  grid-template-areas: 'cal . map status set';
}
#page > nav > section {
  position: relative;
  top: 1px;
  margin-left: 5px;
  padding: 6px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.4);
  border-bottom: 0px solid transparent;
  display: inline-block;
}
#page > nav > section.active {
  background: #fff;
}
#page > nav > section#button-calendar-box {
  grid-area: cal;
}
#page > nav > section#button-maps {
  grid-area: map;
}
#page > nav > section#button-settings {
  grid-area: set;
}
#status-info {
  grid-area: status;
  text-algin: center;
  color: #808080;
}
.hide {
  overflow: hidden;
  width: 0;
  height: 0;
  display: block;
}
.map-holder {
  position: relative;
  overflow: hidden;
  height: 436px;
}
.map-holder object {
  position: relative;
  top: -100px;
}
.map-holder:after {
  content: attr(data-title);
  color: attr(data-color);
  position: absolute;
  left: 30px;
  font-size: 180%;
  top: 0;
}
